/* Footer.css */
.footer {
    width: 100%;
    z-index: 1;
}



.icon-link {
    display: inline-block;
    margin-right: 5px;
}

.icon-link svg {
    vertical-align: text-bottom;
    margin-left: 2px;
}

