
* {
    user-select: none;
    box-sizing: border-box;
}

.background-container {
    background-image: url('../assets/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; /* Font color set to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow for emphasis */
    position: relative; /* Add this line to allow positioning of the pseudo-element */
    font-family: 'Open Sans', sans-serif;
}

.background-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the darkness */
    z-index: 1; /* Make sure the overlay is behind the content */
}

.background-container > * {
    position: relative;
    z-index: 2; /* Ensure the content is above the overlay */
}

